<!--<ul>-->
<!--  <li  *ngFor="let page of totalNumber(totalPages)">-->
<!--    <ng-container *ngIf="(totalPages-(page+1) > 1); then dots else pageNumber ">-->
<!--    </ng-container>-->
<!--&lt;!&ndash;    <a  [ngClass]="{ 'disabled' : currentPage===page }" (click)="toThePage(page)">{{ page }}</a>&ndash;&gt;-->
<!--      <ng-template #dots>-->
<!--        <span>...</span>-->
<!--      </ng-template>-->
<!--      <ng-template #pageNumber>-->
<!--        <a  [ngClass]="{ 'disabled' : currentPage===page }" (click)="toThePage(page)">{{ page }}</a>-->
<!--      </ng-template>-->
<!--  </li>-->
<!--</ul>-->

<ul>
  <ng-container *ngIf="currentPage!=1">
  <button class="mat-raised-button" (click)="toThePage(currentPage-1)">Previous</button>
  </ng-container>
  <ng-container *ngFor="let page of pages">
    <ng-container *ngIf="page != stringy;then without; else with">
    </ng-container>
    <ng-template #without>
      <a [ngClass]="{ 'disabled' : currentPage===page }" (click)="toThePage(page)">{{ page }}</a>
    </ng-template>
    <ng-template #with>
      <span>{{ page }}</span>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="currentPage!=totalPages">
  <button class="mat-raised-button" (click)="toThePage(currentPage+1)">Next</button>
  </ng-container>
</ul>
